# dependencies
node_modules

# testing
/cypress/videos
/cypress/screenshots

# production
/web/build
/api/dist

# misc
.DS_Store

# .env files
.env
.env.mainnet

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# env
.vscode
.exrc
.eslintcache
.idea/

# emulator datastore
flowdb
