@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @variant hover {
    a {
      @apply opacity-50;
    }
  }
}

@layer utilities {
  .main-container {
    @apply mx-auto px-4;
    max-width: theme("screens.2xl");
  }

  .item-gradient-1 {
    background: linear-gradient(360deg, #fe9666 0%, #fceda3 100%);
  }

  .item-gradient-2 {
    background: linear-gradient(180deg, #8154ff 0%, #512bbd 100%);
  }

  .item-gradient-3 {
    background: linear-gradient(180deg, #19e18d 0%, #0cbf74 100%);
  }

  .item-gradient-4 {
    background: linear-gradient(180deg, #0aa6ff 0%, #1972a4 100%);
  }

  @responsive {
    .latest-drops-left-content {
      margin-left: calc((100vw - theme("screens.2xl")) / 2);
    }
  }
}
