# Example configuration for Flow Testnet

# The Flow address, account key index and private key used to mint Kibble and Kitty Items.
#
# To start, use the account you created with the Flow Testnet Faucet.
MINTER_ADDRESS=${FLOW_ADDRESS}
MINTER_PRIVATE_KEY=${FLOW_PRIVATE_KEY}
MINTER_ACCOUNT_KEY_INDEX=${FLOW_ACCOUNT_KEY_INDEX}

# The Access API used by FCL and the Flow JS SDK.
FLOW_ACCESS_NODE=https://access-testnet.onflow.org

# Core contracts from Flow: https://docs.onflow.org/core-contracts.
#
# These addresses need to be changed accordingly if pointing 
# to an environment other than Flow Testnet.
FUNGIBLE_TOKEN_ADDRESS=0x9a0766d93b6608b7
NON_FUNGIBLE_TOKEN_ADDRESS=0x631e88ae7f1d7c20

DATABASE_URL=postgresql://kittyuser:kittypassword@localhost:5432/kittyitems
MIGRATION_PATH=src/migrations

BLOCK_WINDOW=100
